#navbar {
    border-color: black;
    border-style: solid;
    padding: 10px;
}

#content {
    border-color: black;
    border-style: solid;
    padding: 10px;
}

#post {
    border-color: royalblue;
    border-style: solid;
    padding: 10px;
    background-color: beige;
}